.container-flex{
    margin: 3rem;
    div{
        margin-top: 2rem;
    }
}
.example-card{
    max-width: 900px;
}
.respuesta{
    display: flex;
    justify-content: flex-end;
    text-align: right;
}
.color{
    color: #11dee6ed;
}