<div class="container-flex">
  <div>
    <mat-card class="example-card">
      <mat-card-subtitle class="color">Anónimo</mat-card-subtitle>
      <mat-card-content>
        <p>
          Como puedo hacer para solicitar uno de sus servicios y de que forma se comunican conmigo para hablar? 
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="respuesta">
    <mat-card class="example-card">
      <mat-card-subtitle class="color">NeoTec</mat-card-subtitle>
      <mat-card-content>
        <p>
          Para solicitar uno de nuestros servicios puedes mandar un mensaje por el formulario de contacto o directamente mandarnos un mensaje por correo, en cuanto recibamos tu mensaje nos pondremos en contacto contigo por tu correo y después organizaremos una reunión en persona o virtualmente para hablar de tus necesidades.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <mat-card class="example-card">
      <mat-card-subtitle class="color">Anónimo</mat-card-subtitle>
      <mat-card-content>
        <p>
          Como puede hacer uno para poder trabajar en su empresa y que conocimientos debe tener para poder ingresar?
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="respuesta">
    <mat-card class="example-card">
      <mat-card-subtitle class="color">NeoTec</mat-card-subtitle>
      <mat-card-content>
        <p>
          En este momento no estamos contratando, en caso de estar solicitando se avisara el la sección de home. En cuanto al conocimiento requerido debe saber HTML, CSS, JavaScript, Angular o React. Los que pueden ayudar también son Firebase, Ionic y Kotlin. 
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <mat-card class="example-card">
      <mat-card-subtitle class="color">Anónimo</mat-card-subtitle>
      <mat-card-content>
        <p>
          Que metodología de trabajo utilizan para el desarrollo de software y que plan de estudio recomiendan para empezar a programar? 
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="respuesta">
    <mat-card class="example-card">
      <mat-card-subtitle class="color">NeoTec</mat-card-subtitle>
      <mat-card-content>
        <p>
          Nuestra metodología más usada es SCRUM pero abecés depende del tipo de proyecto que estemos llevando a cabo, en cuanto al plan de estudio en la sección de cursos están ordenados de izquierda a derecha los conceptos para llegar a ser un desarrollador de software profesional, te recomendamos que sigas estos conceptos.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
