.container-flex{
    margin: 2rem;

    div{
        margin-top: 2rem;
        mat-card{
            border-bottom: 2px solid #11dee6ed;
        }
    }
}
.example-card{
    max-width: 850px;
}
.respuesta{
    display: flex;
    justify-content: flex-end;
    text-align: right;
}
.color{
    color: #11dee6ed;
}
