table {
  width: 100%;
}
.container{
  max-width: 1500px;
  margin: 2rem auto 2rem auto;
  div{
    border-bottom: 1px solid #11dee6ed;
  }
}

.cursor{
  cursor: pointer;
}
.mat-form-field {
  background-color: #424242;
  font-size: 14px;
  width: 100%;
  color: #11dee6ed;
  
}