<div class="container">
  <div *ngIf="listaempleados.length > 0">
    <mat-form-field>
      <mat-label>Buscar</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Buscar..."
        #input
        autocomplete="off"
      />
    </mat-form-field>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- Position Column -->
        <ng-container matColumnDef="empleadoid">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Empleado ID</th>
          <td mat-cell *matCellDef="let element">{{ element.empleadoid }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
          <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="apellido">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</th>
          <td mat-cell *matCellDef="let element">{{ element.apellido }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="correo">
          <th mat-header-cell *matHeaderCellDef>Correo</th>
          <td mat-cell *matCellDef="let element">{{ element.correo }}</td>
        </ng-container>

        <!-- Acciones Column -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef></th>
          <td
            mat-cell
            *matCellDef="let element; let i = index"
            style="text-align: right"
          >
            <a
              class="cursor"
              (click)="eliminarEmpleado(i)"
              style="color: #e15639"
              matTooltip="Eliminar"
            >
              <mat-icon>delete</mat-icon>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>

  <h2 *ngIf="listaempleados.length == 0">No hay empleados para mostrar</h2>
</div>
