
.example-spacer {
  flex: 1 1 auto;
}
.mr-1 {
  margin-right: 0.5rem;
}
.mr-2 {
  margin-right: 1.5rem;
}
span {
  color: #11dee6ed;
}
button {
  color: #11dee6ed;
  mat-icon {
    margin-right: 0.2em;
    margin-bottom: 0.3rem;
    color: #11dee6ed;
  }
}
