.titulo {
  text-align: center;
  margin: 1.5rem;
}
.container-flex {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  justify-content: center;
  div {
    margin: 1rem;
    mat-card-title {
      text-align: center;
      margin-bottom: 0.8rem;
    }
  }
}
.example-card {
  max-width: 350px;
}
.img-responsive {
  object-fit: cover;
  height: 270px;
}
.texto {
  font-size: 1em;
}
.separacion{
  border-color: #11dee6ed;
  max-width: 275px;
  margin-bottom: 1rem;
}

