<mat-card class="titulo">
    <mat-card-title >Cursos para desarrollo web</mat-card-title>
    <mat-card-content>
      <p>
        Contamos con una gran variedad de profesores dispuestos a ayudar para empezar completamente de cero y terminar convirtiéndote en un desarrollador web profesional, estos cursos están ordenados de lo más básico a lo más complejo, te recomendamos seguir este orden, pero si tu ya eres experimentado sobre el tema puede empezar por el que te resulte más necesario.
      </p>
    </mat-card-content>
  </mat-card>
<div class="container-flex">
  <div>
    <mat-card class="example-card">
      <mat-card-title>HTML</mat-card-title>
      <img
        class="img-responsive"
        mat-card-image
        src="../../../assets/imagenes/cursos/html.jpg"
        alt=""
      />
      <mat-card-content>
        <hr class="separacion">
        <p>
          Empezaremos por HTML, lo consideramos el más básico junto con CSS, este nos permitirá maquetar una página web.
          
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <mat-card class="example-card">
      <mat-card-title>CSS</mat-card-title>
      <img
        class="img-responsive"
        mat-card-image
        src="../../../assets/imagenes/cursos/css.png"
        alt=""
      />
      <mat-card-content>
        <hr class="separacion">
        <p>
          CSS nos permitirá darle estilos a una página web, ya sean colores, bordes, formas, etc. En este caso es necesario que sepas los básico de HTML. 
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <mat-card class="example-card">
      <mat-card-title>JavaScript</mat-card-title>
      <img
        class="img-responsive"
        mat-card-image
        src="../../../assets/imagenes/cursos/js.png"
        alt=""
      />
      <mat-card-content>
        <hr class="separacion">
        <p>
          Después de haber terminado los dos anteriores cursos, subimos el nivel, JavaScript es uno de los lenguajes de programación más usado hoy en día, debido a que se puede usar tanto en el Frontend como el Backend. 
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <mat-card class="example-card">
      <mat-card-title>Angular y TypeScript</mat-card-title>
      <img
        class="img-responsive"
        mat-card-image
        src="../../../assets/imagenes/cursos/angular.png"
        alt=""
      />
      <mat-card-content>
        <hr class="separacion">
        <p>
          Angular es una de los frameworks más potentes y utilizados en el mundo para el Frontend, lo veremos en profundidad además de los conceptos básico de TypeScript .
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <mat-card class="example-card">
      <mat-card-title>Firebase</mat-card-title>
      <img
        class="img-responsive"
        mat-card-image
        src="../../../assets/imagenes/cursos/Firebase.jpg"
        alt=""
      />
      <mat-card-content>
        <hr class="separacion">
        <p>
          Firebase es un servicio de Google, el cual nos brinda una base de datos ya armada y es muy potente a la hora de manejar mucha información.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<mat-card class="titulo">
    <mat-card-title >Cursos para desarrollo mobile</mat-card-title>
    <mat-card-content>
      <p>
        Contamos con algunos cursos basicos, pero pronto publicaremos más. 
      </p>
    </mat-card-content>
  </mat-card>
<div class="container-flex">
  <div>
    <mat-card class="example-card">
      <mat-card-title>Swift</mat-card-title>
      <img
        class="img-responsive"
        mat-card-image
        src="../../../assets/imagenes/cursos/swift.jpg"
        alt=""
      />
      <mat-card-content>
        <hr class="separacion">
        <p>
          Swift es un lenguaje creado por Apple para el desarrollo de aplicaciones iOS y macOS, es una muy buena base para adentrarte al desarrollo mobile. 
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <mat-card class="example-card">
      <mat-card-title>Kotlin</mat-card-title>
      <img
        class="img-responsive"
        mat-card-image
        src="../../../assets/imagenes/cursos/kotlin.png"
        alt=""
      />
      <mat-card-content>
        <hr class="separacion">
        <p>
          Kotlin es por excelencia el mejor lenguaje de programación para desarrollo de aplicaciones Android, aprender Kotlin y Swift te permitirá manejarte en los SO más usados del mundo.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <mat-card class="example-card">
      <mat-card-title>Ionic</mat-card-title>
      <img
        class="img-responsive"
        mat-card-image
        src="../../../assets/imagenes/cursos/ionic.jpg"
        alt=""
      />
      <mat-card-content>
        <hr class="separacion">
        <p>
          Ionic es un framework para el desarrollo mobile, este se ajustara bien para aquellas personas que sepan Angular ya que se pueden combinar, lo cual facilitara el aprendizaje.
          
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
