<div class="container-flex">
  <div class="logo">
    <mat-card class="example-card">
      <img
        class="img-responsive"
        mat-card-image
        src="../../../assets/logo/logo.png"
        alt="logo"
      />
      <hr class="separacion">
      <mat-card-content>
        <p>
          <span>Funadación: </span>Mayo de 2021, Cipolletti, Río Negro, Argentina.
        </p>
        <p>
          <span>Oficinas centrales: </span>Capital Federal, Buenos Aires, Argentina.
        </p>
        <p>
          <span>Director ejecutivo: </span>Elias Uribe.
        </p>
        <p>
          <span>Fundadores: </span>Elias Uribe y Pedro Uribe.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <mat-card class="example-card">
      <mat-card-title>NeoTec</mat-card-title>
      <mat-card-content>
        <p>
          Somos una empresa dedica al desarrollo de software principalmente, pero concretamente nos centramos el sector de las Tecnologías de la Información. Esta empresa nació en un pequeña cuidad de Argentina con el objetivo de progresar constantemente en lo que hacemos y algún día llegar a ser una de las empresas más importantes de este rubro en el mundo.</p>
      </mat-card-content>
    </mat-card>
    <hr class="separacion2">
    <mat-card class="example-card">
      <mat-card-title>Nuestro equipo</mat-card-title>
      <mat-card-content>
        <p>
          Nuestro equipo esta conformado por profesionales con conocimientos y amplia experiencia en el sector, capaces de satisfacer las necesidades de todos nuestros clientes. Ofrecemos ideas y soluciones para resolver las cuestiones que se presentan a diario en las empresas, con una gran variedad de tecnologías, apuntando siempre a los objetivos de nuestros clientes. Apostamos por las metodologías ágiles y el trabajo en grupo con el único fin de hacer lo mejor para superarnos en el día a día.
        </p>
      </mat-card-content>
    </mat-card>
    <hr class="separacion2">
    <mat-card class="example-card">
      <mat-card-title>Qué nos define como empresa</mat-card-title>
      <mat-card-content>
        <p>
          <span class="color">Cratividad: </span><br> Bajo los mismos patrones de calidad, rendimiento y usabilidad cada proyecto es diferente con necesidades diferentes, por ello, ponemos toda nuestra experiencia a tu servicio para que emprendas o mejores tu negocio. Nuestras soluciones se adaptan a tus requerimientos.
        </p>
        <p>
          <span class="color">Intuitividad: </span><br> Facilidad a la hora de trabajar con nuestros productos, porque no nos gusta lo complicado nuestras soluciones son simples de manejar.
        </p>
        <p>
          <span class="color">Rigor y profesionalidad: </span><br> No sólo nos comprometemos a realizar tu proyecto de acuerdo a tus necesidades sino que te asesoraremos para darte diferentes opciones de actuación.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
