.container-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  div {
    margin: 1rem;
    mat-card-title {
      color: #11dee6ed;
      font-weight: 500;
      text-align: center;
      margin-bottom: 0.6em;
    }
    span {
      color: #11dee6ed;
      font-weight: 500;
    }
  }
}
.example-card {
  max-width: 600px;
}
.logo {
  max-width: 500px;
  mat-card{
    border-bottom: 1px solid #11dee6ed;
  }
}
.separacion {
  border-color: #11dee6ed;
  max-width: 375px;
  margin-bottom: 1rem;
}
.separacion2 {
  border-color: #11dee6ed;
  max-width: 375px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
