.container-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  div {
    margin: 1rem;
  }
}
.example-card {
  max-width: 600px;
}
.logo {
  max-width: 500px;
}
.mt{
    margin-top: 1.1rem;
}