.container-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  div {
    margin: 1rem;
  }
}
.example-card {
  max-width: 600px;
}
.logo {
  max-width: 500px;
}
.mt{
    margin-top: 1.1rem;
}
.separacion{
  border-color: #11dee6ed;
  max-width: 375px;
  margin-bottom: 1rem;
}
.separacion2{
  border-color: #11dee6ed;
  max-width: 375px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}