.example-card {
  max-width: 450px;
}

.img-responsive {
  object-fit: cover;
  height: 270px;
}
.container-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  div {
    margin: 1rem;
    mat-card-title{
      text-align: center;
      margin-bottom: 0.8rem;
    }
  }
}
.separacion{
  border-color: #11dee6ed;
  max-width: 375px;
  margin-bottom: 1rem;
}
.color{
  text-align: center;
  background-color: #11dee6ed;
  color: rgb(0, 0, 0);
  font-size:1em;
  text-decoration: none;
  padding: 0.3rem;
  font-weight:500;
  border-radius: 4px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  display: block;
}