<div class="container-flex">
    <div>
      <mat-card class="example-card">
        <img class="img-responsive"
          mat-card-image
          src="../../../assets/imagenes/1.jpg"
          alt="" 
        />
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan. A small, agile dog that copes very well with
            mountainous terrain, the Shiba Inu was originally bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div>
      <mat-card class="example-card">
        <img class="img-responsive"
          mat-card-image
          src="../../../assets/imagenes/2.jpg"
          alt="" 
        />
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan. A small, agile dog that copes very well with
            mountainous terrain, the Shiba Inu was originally bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div>
      <mat-card class="example-card">
        <img class="img-responsive"
          mat-card-image
          src="../../../assets/imagenes/3.jpg"
          alt="" 
        />
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan. A small, agile dog that copes very well with
            mountainous terrain, the Shiba Inu was originally bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div>
        <mat-card class="example-card">
          <img class="img-responsive"
            mat-card-image
            src="../../../assets/imagenes/1.jpg"
            alt="" 
          />
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz
              breeds of dog from Japan. A small, agile dog that copes very well with
              mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>
          </mat-card-content>
    
        </mat-card>
      </div>
      <div>
        <mat-card class="example-card">
          <img class="img-responsive"
            mat-card-image
            src="../../../assets/imagenes/2.jpg"
            alt="" 
          />
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz
              breeds of dog from Japan. A small, agile dog that copes very well with
              mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>
          </mat-card-content>
    
        </mat-card>
      </div>
      <div>
        <mat-card class="example-card">
          <img class="img-responsive"
            mat-card-image
            src="../../../assets/imagenes/3.jpg"
            alt="" 
          />
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz
              breeds of dog from Japan. A small, agile dog that copes very well with
              mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>
          </mat-card-content>
    
        </mat-card>
      </div>
  </div>
