<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav #drawer class="sidenav" fixedInViewport 
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === true">
    <div class="logo mt-2">
      <img src="../../assets/logo/logo.png" width="100%" alt="logo">
    </div>
    <mat-nav-list>
      <hr class="separacion">
      <a mat-list-item routerLink="home"><mat-icon >home</mat-icon>Home</a>
      <a mat-list-item routerLink="servicios"><mat-icon >assignment_turned_in</mat-icon>Servicios</a>
      <a mat-list-item routerLink="cursos"><mat-icon >school</mat-icon>Cursos</a>
      <a mat-list-item routerLink="avisos"><mat-icon >notifications</mat-icon>Avisos</a>
      <a mat-list-item routerLink="preguntas"><mat-icon >question_answer</mat-icon>Preguntas frecuentes</a>
      <a mat-list-item routerLink="sobrenosotros"><mat-icon >fingerprint</mat-icon>Sobre nosotros</a>
      <a mat-list-item routerLink="socios"><mat-icon >people_outline</mat-icon>Socios</a>
      <a mat-list-item routerLink="contacto"><mat-icon >contact_mail</mat-icon>Contacto</a>
      <hr class="separacion">
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="basic">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon" class="color">menu</mat-icon>
      </button>
      <span class="color">NeoTec</span>
      <span class="example-spacer"></span>
      <a mat-stroked-button color="accent" class="bg-color" routerLink="/admin"><mat-icon style="margin-right: 0.2em;">account_circle</mat-icon>Admin</a>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
