.example-card {
  max-width: 500px;
}
.carrusel {
  margin: 1rem;
}
.img-responsive {
  object-fit: cover;
  height: 270px;
}
.container-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  div {
    margin: 1rem;
  }
}
.color{
  background-color: #11dee6ed;
  color: rgb(0, 0, 0);
  font-size:1em;
}
.separacion{
  border-color: #11dee6ed;
  max-width: 375px;
  margin-bottom: 1rem;
}
