<div class="container-flex">
  <div>
    <mat-card class="example-card">
      <img
        class="img-responsive"
        mat-card-image
        src="../../../assets/imagenes/avisos/nuevaempresa.jpg"
        alt=""
      />
      <mat-card-title>Pronto abriremos una empresa en Córdoba</mat-card-title>
      <mat-card-content>
        <p>
            Dentro de un dos meses abriremos una empresa en Córdoba (Capital), esperamos que gracias a las nuevas instalaciones, necesitemos nuevos empleados para ocupar los nuevos puestos. 
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <mat-card class="example-card">
      <img
        class="img-responsive"
        mat-card-image
        src="../../../assets/imagenes/avisos/nuevoscursos.jpg"
        alt=""
      />
      <mat-card-title>Nuevos cursos</mat-card-title>
      <mat-card-content>
        <p>
          En una semana publicaremos nuevos cursos para mejorar tu desarrollo web y móvil, con cursos como React, React Native, Express.js, MongoDB y Android Studio.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <mat-card class="example-card">
      <img
        class="img-responsive"
        mat-card-image
        src="../../../assets/imagenes/avisos/nuevosempleados.jpg"
        alt=""
      />
      <mat-card-title>Estamos por contratar nuevos empleados</mat-card-title>
      <mat-card-content>
        <p>
            Dentro de dos semanas contrataremos a cincuenta empleados nuevos, se abrirá una sección donde podrán enviar sus currículums vitae y a la brevedad los entrevistaremos de manera presencial si es posible o virtualmente.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
