<mat-card class="titulo">
  <mat-card-title>Socios</mat-card-title>
  <mat-card-content>
    <p>
      En este momento contamos con tres socios, con los cuales colaboramos en
      proyectos de gran escala.
    </p>
  </mat-card-content>
</mat-card>

<div class="container-flex">
  <div class="item1">
    <mat-card class="example-card">
      <mat-card-title>SOFTCOM</mat-card-title>
      <img
        class="img-responsive"
        mat-card-image
        src="../../../assets/imagenes/socios/1.jpg"
        alt=""
      />
      <mat-card-content>
        <hr class="separacion" />
        <p>
          Es una empresa de Argentina la cual se dedica al desarrollo de
          software como nosotros.
        </p>
        <a
          href="https://www.softcom.com.ar/"
          target="_blank"
          mat-raised-button
          class="color"
          >Ver página oficial de la empresa</a
        >
      </mat-card-content>
    </mat-card>
  </div>
  <div class="item2">
    <mat-card class="example-card">
      <mat-card-title>Okapii</mat-card-title>
      <img
        class="img-responsive"
        mat-card-image
        src="../../../assets/imagenes/socios/2.png"
        alt=""
      />
      <mat-card-content>
        <hr class="separacion" />
        <p>
          Okapii es una empresa de desarrollo de software a medida formada por
          ingenieros con sólida formación y amplia trayectoria en desarrollos.
        </p>
        <a
          href="https://www.okapii.com/"
          target="_blank"
          mat-raised-button
          class="color"
          >Ver página oficial de la empresa</a
        >
      </mat-card-content>
    </mat-card>
  </div>
  <div class="item3">
    <mat-card class="example-card">
      <mat-card-title>ZITELIA</mat-card-title>
      <img
        class="img-responsive"
        mat-card-image
        src="../../../assets/imagenes/socios/3.png"
        alt=""
      />
      <mat-card-content>
        <hr class="separacion" />
        <p>
          Empresa centrada en el sector de las Tecnologías de la Información,
          como las áreas de programación, gestión y desarrollo de proyectos.
        </p>
        <a
          href="https://www.zitelia.com/"
          target="_blank"
          mat-raised-button
          class="color"
          >Ver página oficial de la empresa</a
        >
      </mat-card-content>
    </mat-card>
  </div>
</div>
